.full-width {
  width: 100%;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px !important;
  min-width: 420px;
}
